body{background-color:#E2DFD2);

height:100%;
width:100%;
}

.tab{background-color:white);
color:black;

}
.tbl{
color:black;
"""background-color:white;
"""}
.tab1{background-color:white);
color:black;
}
color:black;
}
